/* Estilos para la barra de navegación */
nav {
    background-color: #2c3e50; /* Cambiamos el color de fondo a un tono más oscuro */
    padding: 10px 20px; /* Añadimos espaciado adicional a los extremos */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ecf0f1; /* Cambiamos el color del texto a un tono más claro */
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s; /* Agregamos una transición suave al cambio de color de fondo */
}

nav ul li a:hover {
    background-color: #34495e; /* Cambiamos el color de fondo al pasar el ratón a un tono más oscuro */
}

/* Estilos para el contenido principal */
main {
    padding: 20px;
}

/* Estilos para el título */
header h1 {
    font-size: 28px; /* Aumentamos ligeramente el tamaño del título */
    margin-bottom: 20px;
    color: #2c3e50; /* Añadimos un color de texto para mayor contraste con el fondo */
}