<div class="row col-md-6">
<mat-card>
    <mat-card-header>
        <mat-card-title>Perfil de usuario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list-item><strong>Password: </strong>{{user.id}}</mat-list-item>
        <mat-list-item><strong>Nombre: </strong>{{user.username}}</mat-list-item>
        <mat-list-item><strong>Password: </strong>{{user.password}}</mat-list-item>
        <mat-list-item><strong>Password: </strong>{{user.description}}</mat-list-item>
    </mat-card-content>
</mat-card>
    <div class="row col-md-6">
        
    </div>
</div>
