<div class="container mt-5">
  <h3>Inventario Maestranza</h3>
  <br>
  <h4>Menú:</h4>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="card fade-in">
        <div class="card-body">
          <h5 class="card-title">Alertas de Stock Bajo</h5>
          <a href="#" class="btn btn-primary" routerLink="/alertas-stock-bajo">Ver Más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card fade-in">
        <div class="card-body">
          <h5 class="card-title">Registro de Inventario</h5>
          <a href="#" class="btn btn-primary" routerLink="/registro-inventario">Ver Más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card fade-in">
        <div class="card-body">
          <h5 class="card-title">Seguimiento de Inventario</h5>
          <a href="#" class="btn btn-primary" routerLink="/seguimiento-inventarios">Ver Más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card fade-in">
        <div class="card-body">
          <h5 class="card-title">Niveles Stock</h5>
          <a href="#" class="btn btn-primary" routerLink="/niveles-stock">Ver Más</a>
        </div>
      </div>
    </div>
    <!-- Añade más tarjetas aquí según sea necesario -->
    <div class="col-md-4">
      <div class="card fade-in">
        <div class="card-body">
          <h5 class="card-title">Buscar un producto</h5>
          <a href="#" class="btn btn-primary" routerLink="/lista-elementos">Ver Más</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card fade-in">
        <div class="card-body">
          <h5 class="card-title">Movimientos</h5>
          <a href="#" class="btn btn-primary" routerLink="/registro-acciones">Ver Más</a>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card fade-in">
        <div class="card-body">
          <h5 class="card-title">Órdenes de Reposición</h5>
          <a href="#" class="btn btn-primary" routerLink="/ordenes-reposicion">Ver Más</a>
        </div>
      </div>
    </div>
  </div>
</div>

